# Папки сборки ROS (их нельзя пушить!)
build/
devel/
install/
logs/

# Файлы, создаваемые при запуске (баги, логи)
*.bag
*.db
*.log

# Библиотеки Python
__pycache__/
*.pyc

# Файлы IDE (чтобы не мешали другим)
.vscode/
.idea/

# Если есть большие карты или модели 
*.stl
*.dae
*.png (если картинки тяжелые - лучше убрать)
